.vs/
Library/
Temp/
.vscode/
Logs/
UserSettings/
Packages/
obj/
*.userprefs
*.unityproj
*.DS_Store
*.vsconfig

MMO-Client-Release/

/**/[Bb]uild*/
/**/[Bb]uilds*/
HybridCLRData/
/**/StreamingAssets/yoo/
/**/StreamingAssets/*.dll.bytes
/**/StreamingAssets/*.dll.bytes.meta
