# unity && vs
.vs/
#Library/
#Logs/
#obj/
#Packages/
#LocalPackages/
#Temp/
#UserSettings/
.vscode/
*.userprefs
*.unityproj
*.DS_Store
*.vsconfig
#测试用的场景
MMO-Client/MMOGame/Assets/aExample
# 项目拷贝，用于多人开发用
MMO-Client/MMOGame_Copy
#美术资源-太大了
MMO-Client/MMOGame/Assets/Art
# unity打包
MMO-Client-Release/

# 热更相关
HybridCLRData/
/**/[Bb]uild*/
/**/[Bb]uilds*/
/**/StreamingAssets/yoo/
/**/StreamingAssets/*.dll.bytes
/**/StreamingAssets/*.dll.bytes.meta
/MMO-Client/MMOGame/Bundles/
/MMO-Client/MMOGame/yoo/

# 工具的tmp
/Tools/**/out-csharp/
/Tools/**/out-csharp/Message.cs
/Tools/**/temp/
/Tools/**/out/